.hero-title {
    font-family: 'Poppins';
        font-weight: 600;
        font-size: 22px;
        line-height: 1,9;
        color: #FD5103;
        margin-bottom: 28px;
        text-align: center;

}
.section-hero {
padding-top: 60px;
padding-bottom: 58px;
padding-left: 20px;
padding-right: 20px;
}

.hero-text {
display: none;
}

 .hero-text {
     @include tablet {
         display: contents;
        font-family : 'Poppins';
            font-weight: 500;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.02em;
            color: #202025;
            margin-top: 28px;
            text-align: center;
     }

 }



.hero-list{
 display: none;
    }
 .hero-list {
     @include tablet {
         display:contents
     }

 }

 .hero-list__mobi{
    @include tablet{
        display: none;
    }
 }
  .hero-form {
      @include tablet {
          display: none;
      }
  }


.hero-text__mobi {
    font-family: 'Poppins'; 
        font-weight: 500;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.02em;
        color: #000000;
        margin-top: 28px;
        text-align: center;
}
.hero-text__mob {
    @include tablet {
            display: none
        }
}
.hero-image{
    text-align: center;
width: 100%;
}

.sorry-text {
    font-family: 'Poppins';
        font-weight: 600;
        font-size: 22px;
        line-height: 1,9;
        text-align: center;
        color: #202025;
        margin-top: 122px;
        margin-bottom: 63px;
}

.sorry-img{
        text-align: center;
        width: 100%;
             
}

.select-wrapp{
    position: relative;
}

.select-dropdown{
    border: 1px solid #FD5103;
    border-radius: 4px;
    position: absolute;
    width: 93px;
    max-height: 84px;
    margin: 0 auto;
    top: 34px;
    left: 0;
    right: 0;
    overflow-y: auto;
   
}