.main__title {
  margin-bottom: 60px;
  text-align: center;

  font-family: $primary-font;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;

  color: $text-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 56px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
  }
  @media screen and (min-width: 1280px) {
    font-family: 'Poppins';
    font-size: 48px;
    line-height: 1.5;

    margin-bottom: 60px;
  }
}
.main__img {
  width: 100%;
}
.main__container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid $main-orange;
  border-radius: 8px;
  max-width: 440px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    max-width: 333px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 394px;
  }
}

.main__text-container {
  margin: 0 auto;
  padding: 48px 21px 24px;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
  @media screen and (min-width: 1280px) {
    padding: 20px 28px 28px;
  }
}
.main__title-second {
  margin-bottom: 16px;
  text-align: center;

  font-family: $second-font;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  color: $text-color;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.17;

    margin-bottom: 25px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.18;

    margin-bottom: 27px;
  }
}
.main {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 90px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 60px;
  }
}

.button__main-full {
  padding: 7px 17px;
  @media screen and (min-width: 768px) {
    padding: 12px 27px;
  }
  @media screen and (min-width: 1280px) {
    padding: 12px 38px;
  }

  color: #ffffff;
  background-color: $accent-orange;
  transition: all $transition-time $transition-function;
  &:hover {
    background-color: $btn-hover;
    color: $main-orange;
  }
}
.button__main-transparent {
  position: relative;
  padding: 10px 20px;
  @media screen and (min-width: 768px) {
    padding: 12px 16px 12px 13px;
  }
  @media screen and (min-width: 1280px) {
    padding: 12px 21px 12px 24px;
  }
  color: $main-orange;
  background-color: transparent;
  align-items: center;
  // display: flex;
  justify-content: space-between;
  // gap: 9px;
  transition: all $transition-time $transition-function;
  &:hover {
    background-color: $btn-hover;
    color: $main-orange;
  }
  &:hover .main__button-imgfull {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20px, -12px);

    @media screen and (min-width: 768px) {
      transform: translate(-16px, -14px);
    }
    @media screen and (min-width: 1280px) {
      transform: translate(-21px, -14px);
    }
  }
}
.button__main {
  font-family: $second-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;

  border: 1px solid $accent-orange;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.main__button-center {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  gap: 9px;
  @media screen and (min-width: 768px) {
    gap: 12px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.main__button-img {
  vertical-align: middle;

  width: 20px;
  height: 18px;
}
.main__button-imgfull {
  display: none;
  width: 20px;
  height: 18px;
}
.main__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
