.mod__coctail {
  padding: 40px 20px;

  @media screen and(min-width:768px) {
      display: flex;
    }
};

.mod__coctail.container{
  @media screen and(min-width:768px) and (max-width: 1280px) {
      padding: 0px;
      margin-left: 0;
    }
}

.mod__coctail--block__photo-tablet {
  @media screen and(max-width:767px) {
      display: none;
    }
  width: 288px;
  height: 320px;
  background-color: antiquewhite;
  margin-bottom: 28px;
}

.mod__coctail--forflex{
  @media screen and(min-width:768px) {
      margin-left: 32px;
      margin-top: 40px;
    }
}

.mod__coctail--name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.19;
    
    color: #202025;

    margin-bottom: 20px;

    @media screen and(min-width:768px) {
      margin-bottom: 28px;

        color: #000917;
      }
};

.mod__coctail--instractions {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.62;
  
    color: #202025;

  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and(min-width:768px) {
      display: none;
    }
};

.mod__coctail--recipe {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
  
    color: #5F6775;

  margin-bottom: 32px;
  max-width: 480px;

  @media screen and(min-width:768px) {
      display: none;
    }
};

.mod__coctail--block__photo{
  margin-bottom: 32px;
  max-width: 480px;
  height: 280px;
  background-color: antiquewhite;
  @media screen and(min-width:768px) {
      display: none;
    }
}

.mod__coctail--ingredients {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    color: #000917;

  margin-bottom: 8px;
  text-transform: uppercase;
};

.mod__coctail--compound {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;

    color: #202025;

  margin-bottom: 8px;
};

.mod__coctail--items{
  margin-bottom: 32px;
}

.mod__coctail--item {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;

    color: #5F6775;
};

.mod__coctail--button {
  width: 185px;
  height: 48px;

  @media screen and(min-width:768px) {
      display: none;
    }
};

.mod__coctail--instractions--tablet {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;

  color: #202025;

  margin-left: 28px;
  margin-bottom: 24px;
  text-transform: uppercase;

  @media screen and(max-width:767px) {
    display: none;
  }
};

.mod__coctail--instractions--footer{
  @media screen and(min-width:768px)  {
      padding: 0px;
      margin-left: 0;
      max-width: 1280px;
    }
}

.mod__coctail--recipe--tablet {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;

  color: #5F6775;

  margin-left: 28px;
  margin-bottom: 40px;
  max-width: 615px;

  @media screen and(max-width:767px) {
    display: none;
  }
};

.mod__coctail--button--tablet{
  @media screen and(max-width:767px) {
      display: none;
    }
  width: 185px;
  height: 48px;

  margin-left: 1000px;
  margin-right: 28px;
}