<div class="favor-ingreds container">
  <h2 class="favor-ingreds__title">Favorite ingredients</h2>
  <ul class="favor-ingreds__list">
    <li class="ingreds__item">
      <h3 class="ingreds__item__title">Campari</h3>
      <p class="ingreds__item__descr">Liqueur</p>
      <div class="btn-container">
        <button type="button" class="button-orang button">Learn more</button>
        <button type="button" class="button-transparent button">Remove</button>
      </div>
    </li>
    <li class="ingreds__item">
      <h3 class="ingreds__item__title">Campari</h3>
      <p class="ingreds__item__descr">Liqueur</p>
      <div class="btn-container">
        <button type="button" class="button-orang button">Learn more</button>
        <button type="button" class="button-transparent button">Remove</button>
      </div>
    </li>
    <li class="ingreds__item">
      <h3 class="ingreds__item__title">Campari</h3>
      <p class="ingreds__item__descr">Liqueur</p>
      <div class="btn-container">
        <button type="button" class="button-orang button">Learn more</button>
        <button type="button" class="button-transparent button">Remove</button>
      </div>
    </li>
  </ul>
</div>
