<section class="section-hero">
  <div class="container">
    <h1 class="hero-title">
      A party without cocktails <br />
      is not like a party
    </h1>

    <p class="hero-text">Search your favorite cocktail by ABC</p>

    <ul class="hero-list">
      <li><button>A</button></li>
      <li><button>B</button></li>
      <li><button>C</button></li>
      <li><button>D</button></li>
      <li><button>I</button></li>
      <li><button>F</button></li>
      <li><button>G</button></li>
      <li><button>H</button></li>
      <li><button>I</button></li>
      <li><button>J</button></li>
      <li><button>K</button></li>
      <li><button>L</button></li>
      <li><button>M</button></li>
      <li><button>N</button></li>
      <li><button>O</button></li>
      <li><button>P</button></li>
      <li><button>Q</button></li>
      <li><button>R</button></li>
      <li><button>S</button></li>
      <li><button>T</button></li>
      <li><button>U</button></li>
      <li><button>V</button></li>
      <li><button>W</button></li>
      <li><button>X</button></li>
      <li><button>Y</button></li>
      <li><button>Z</button></li>
      <li><button>1</button></li>
      <li><button>2</button></li>
      <li><button>3</button></li>
      <li><button>4</button></li>
      <li><button>5</button></li>
      <li><button>6</button></li>
      <li><button>7</button></li>
      <li><button>8</button></li>
      <li><button>9</button></li>
      <li><button>0</button></li>
    </ul>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/hero/delicious-sangria-cocktail-held-in-hand(dek-1x)-min.png 1x,
          ./images/hero/delicious-sangria-cocktail-held-in-hand(dek-2x)-min.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero/delicious-sangria-cocktail-held-in-hand(tablet-1x)-min.png 1x,
          ./images/hero/delicious-sangria-cocktail-held-in-hand(tablet-2x)-min.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-1x)-min.png 1x,
          ./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-2x)-min.png 2x
        "
        media="(max-width: 767px)"
      />
    </picture>
    <img
      class="hero-image"
      src="./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-1x)-min.png"
      alt="glass"
    />
  </div>
  <p class="hero-text__mob">Search your favorite cocktail by ABC</p>

  <div>
    <form class="hero-form">
      <label>
        A
        <input type="checkbox" />
      </label>
    </form>
    <div>
      <ul class="hero-list__mobi">
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>I</li>
        <li>J</li>
        <li>K</li>
        <li>L</li>
        <li>M</li>
        <li>N</li>
        <li>O</li>
        <li>P</li>
        <li>Q</li>
        <li>R</li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li>V</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>0</li>
      </ul>
    </div>
  </div>
  <div class="sorry">
    <h2 class="sorry-text">Sorry, we didn't find any cocktail for you</h2>
    <picture>
      <source
        srcset="
          ./images/hero/photo-min-1x.png 1x,
          ./images/hero/photo-min-2x.png 2x
        "
        media="(max-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/photo-tab-1x.png 1x,
          ./images/hero/photo-tab-2x.png 2x
        "
        media="(min-width: 767px)"
      />
    </picture>
    <img class="sorry-img" src="./images/hero/photo-min-1x.png" alt="cafe" />
  </div>
</section>
