<section class="container section-hero">
  <div>
    <h1 class="hero-title">
      A party without cocktails <br />
      is not like a party
    </h1>

    <p class="hero-text">Search your favorite cocktail by ABC</p>

    <ul class="hero-list">
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>F</li>
      <li>G</li>
      <li>H</li>
      <li>I</li>
      <li>J</li>
      <li>K</li>
      <li>L</li>
      <li>M</li>
      <li>N</li>
      <li>O</li>
      <li>P</li>
      <li>Q</li>
      <li>R</li>
      <li>S</li>
      <li>T</li>
      <li>U</li>
      <li>V</li>
      <li>W</li>
      <li>X</li>
      <li>Y</li>
      <li>Z</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
    </ul>
  </div>
  <div>
    <picture>
      <source
        srcset="
          ./images/hero/delicious-sangria-cocktail-held-in-hand(dek-1x)-min.png 1x,
          ./images/hero/delicious-sangria-cocktail-held-in-hand(dek-2x)-min.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hero/delicious-sangria-cocktail-held-in-hand(tablet-1x)-min.png 1x,
          ./images/hero/delicious-sangria-cocktail-held-in-hand(tablet-2x)-min.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-1x)-min.png 1x,
          ./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-2x)-min.png 2x
        "
        media="(max-width: 767px)"
      />
    </picture>
    <img
      class="hero-image"
      src="./images/hero/delicious-sangria-cocktail-held-in-hand(mobi-1x)-min.png"
      alt="glass"
    />
  </div>
  <p class="hero-text__mob">Search your favorite cocktail by ABC</p>

  <div>
    <form>
      <label>
        A
        <input type="checkbox" />
      </label>
    </form>
    <div>
      <ul>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>I</li>
        <li>J</li>
        <li>K</li>
        <li>L</li>
        <li>M</li>
        <li>N</li>
        <li>O</li>
        <li>P</li>
        <li>Q</li>
        <li>R</li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li>V</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>0</li>
      </ul>
    </div>
  </div>
  <div class="sorry">
    <h2 class="sorry-text">Sorry, we didn't find any cocktail for you</h2>
    <picture>
      <img class="sorry-img" src="./images/hero/photo-min-1x.png" alt="cafe" />
      <source
        srcset="
          ./images/hero/photo-min-1x.png 1x,
          ./images/hero/photo-min-2x.png 2x
        "
        media="(max-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/photo-tab-1x.png 1x,
          ./images/hero/photo-tab-2x.png 2x
        "
        media="(min-width: 767px)"
      />
    </picture>
  </div>
</section>
