<div class="container backdrop">
    <div class="modalw2">
        <h2 class="modalw2-title">Campari</h2>
        <button class="modalw2-btn"><svg width="32px" height="32px">
            <use
              href=".//images/svg/symbol-defs.svg#icon-close"
              class="modalw2-link"
            ></use>
          </svg></button>
        <h3 class="modalw2-title-second">Liqueur</h3>
        <hr class="modalw2-line" color="#FD5103">
        <p class="modalw2-text"><span class="modalw2-span">Campari </span>is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and cascarilla) in alcohol and water. It is a bitters, characterised by its dark red colour.</p>
        <ul class="modalw2-list">
            <li class="modalw2-item">&#10038 Type:	Bitters</li>
            <li class="modalw2-item">&#10038 Country of origin:	Italy</li>
            <li class="modalw2-item">&#10038 Alcohol by volume:	20.5–28.5%</li>
            <li class="modalw2-item">&#10038 Flavour:	Bitter, spicy and sweet</li>
        </ul>
        <button type="button">Add to favorite</button>
    </div>
    </div>