
<div class="mod__coctail backdrop is-hidden">
  
</div>





<!-- <div class="mod__coctailw1">
  <p class="mod__coctail--name">${strDrink}</p>
  <button class="mod__coctail--btn__close"><svg width="18px" height="18px">
      <use href=".//images/svg/symbol-defs.svg#icon-close" class="mod__coctail--btn__link"></use>
    </svg></button>
  <div class="mod__coctail--blockinstractions--allingredients">
    <div class="mod__coctail--blockinstractions">
      <p class="mod__coctail--instractions">Instractions:</p>
      <p class="mod__coctail--recipe">${strInstructions}</p>
    </div>
    <div class="mod__coctail--block__photo">
      <img class="mod__coctail--photo" src="${strDrinkThumb}" alt="photo">
    </div>
    <div class="mod__coctail--allingredients">
      <p class="mod__coctail--ingredients">ingredients</p>
      <p class="mod__coctail--compound">Per cocktail</p>
      <ul class="mod__coctail--items">
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 ${andrei(strMeasure1)}
            ${andrei(strIngredient1)}</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 ${andrei(strMeasure2)}
            ${andrei(strIngredient2)}</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 ${andrei(strMeasure3)}
            ${andrei(strIngredient3)}</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 ${andrei(strMeasure4)}
            ${andrei(strIngredient4)}</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 ${andrei(strMeasure5)}
            ${andrei(strIngredient5)}</a></li>
      </ul>
    </div>
  </div>
  <div class="mod__coctail--blockbutton--add">
    <button class="mod__coctail--button--add" type="button">Add to favorite</button>
  </div>
  <div class="mod__coctail--blockbutton--remove is-hidden">
    <button class="mod__coctail--button--remove" type="button">Remove from favorite</button>
  </div>
</div> -->

