
<div class="mod__coctail">
  
</div>





  <!-- <p class="mod__coctail--name">Negroni</p>

<div class="mod__coctail is-hidden">
  <p class="mod__coctail--name">Negroni</p>

  <button class="mod__coctail--btn__close"><svg width="32px" height="32px">
      <use href=".//images/svg/symbol-defs.svg#icon-close" class="mod__coctail--btn__link"></use>
    </svg></button>
  <div class="mod__coctail--blockinstractions--allingredients">
    <div class="mod__coctail--blockinstractions">
      <p class="mod__coctail--instractions">Instractions:</p>
      <p class="mod__coctail--recipe">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir
        until well-chilled. Strain into a
        rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
    </div>

    <div class="mod__coctail--block__photo"> -->
    <!-- </div>

    <div class="mod__coctail--block__photo"> 
      <img class="mod__coctail--photo" src="../images/_116301648_gettyimages-1071204136.jpeg" alt="glass">
    </div>

    <div class="mod__coctail--allingredients">
      <p class="mod__coctail--ingredients">ingredients</p>
      <p class="mod__coctail--compound">Per cocktail</p>
      <ul class="mod__coctail--items">
        <li class="mod__coctail--item"><a  class="mod__coctail--item__link" href="#">&#10038 Ice</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 1 ounce gin</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 1 ounce Campari</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 1 ounce sweet vermouth</a></li>
        <li class="mod__coctail--item"><a class="mod__coctail--item__link" href="#">&#10038 Garnish: orange peel</a></li>
      </ul>
    </div>
  </div>
  <div class="mod__coctail--blockbutton--add">
    <button class="mod__coctail--button--add" type="button">Add to favorite</button>
  </div>

  <div class="mod__coctail--blockbutton--remove">
    <button class="mod__coctail--button--remove" type="button">Remove from favorite</button> -->
  <!-- </div> -->





