<div class="mod__coctail container">
<p class="mod__coctail--name">Negroni</p>
<p class="mod__coctail--instractions">Instractions:</p>
<p class="mod__coctail--recipe">Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until well-chilled. Strain into a
rocks glass filled with large ice cubes. Garnish with an orange peel.</p>
<div class="mod__coctail--block__photo">
  <!-- <img class="mod__coctail--photo" src="" alt="glass"> -->
</div>
<p class="mod__coctail--ingredients">ingredients</p>
<p class="mod__coctail--compound">Per cocktail</p>
<ul class="mod__coctail--items">
  <li class="mod__coctail--item">Ice</li>
  <li class="mod__coctail--item">1 ounce gin</li>
  <li class="mod__coctail--item">1 ounce Campari</li>
  <li class="mod__coctail--item">1 ounce sweet vermouth</li>
  <li class="mod__coctail--item">Garnish: orange peel</li>
</ul>
<button class="mod__coctail--button" type="button"></button>
</div>



